table {
    width: 100%;
    margin: 2rem auto;
  }
  
  th, td{
    border: 2px solid black;
    text-align: center;
    background-color: wheat;
    padding: 26px;
    cursor: pointer;
  }
  td{
    background-color: white;
    font-size: 20px;
  }
  td:hover{
    font-size: 21px;
    background-color: yellow;
  }