* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.register {
    width: 400px;
    box-shadow: 0 0 50px 0 #4cd9f1;
    margin: 100px auto;
}

.register h1 {
    text-align: center;
    color: #4cd9f1;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    padding-top: 20px;
}

.register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #4cd9f1;
    color: #ffffff;
}

.register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 1rem;
    background-color: #4cd9f1;
    border: 0;
    color: #ffffff;
}

.register form input[type="submit"]:hover {
    background-color: #73a0f3;
}

.button {
    width: 100%;
    padding: 15px;
    margin-top: 3px;
    background-color: #4cd9f1;
    border: 0;
}

.button a {
    text-decoration: none;
    color: azure;
}

.login {
    width: 400px;
    box-shadow: 0 0 50px 0 #4cd9f1;
    margin: 100px auto;
}

.login h1 {
    text-align: center;
    color: #4cd9f1;
    font-size: 31px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #4cd9f1;
    color: #ffffff;
}

.login form input[type="number"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #4cd9f1;
    border: 0;
    font-weight: bold;
    color: #ffffff;
}

.login form input[type="submit"]:hover {
    background-color: #327d8a;
}

body.loggedin {
    background-color: #f3f4f7;
}

.navtop {
    background-color: white;
    height: 60px;
}

.navtop div {
    display: flex;
    height: 100%;
}

.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
}

.navtop div h1 {
    flex: 1;
    font-size: 30px;
    color: #4cd9f1;
}

.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #4cd9f1;
}

.navtop div a:hover {
    color: #eaebed;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.content {
    width: 80%;
    margin: 1rem auto;
    background-color: #fff;
}

.content h2 {
    height: 7vh;
    border-bottom: 2px solid #e0e0e3;
    color: #4cd9f1;
}

.content p {
    padding: 25px;
    background-color: #fff;
}

.content, table td, tr {
    margin-top: 4rem;
    padding: 32px 48px;
    box-shadow: 0 0 17px 0 #4cd9f1;
}
table,  tr{
    width: 80%;
    background-color: #fff;
    margin: 2rem auto;
 }

.titleBar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #4cd9f1;
    border-style: solid;
    margin-top: 14em;
    height: 5vh;
}

.messages {
    background-color: white;
    width: 80%;
    height: 40vh;
    margin: 2rem auto;
    box-shadow: 0 0 50px 0 #4cd9f1;
}

.message {
    width: 100%;
    margin-top: .6em;
    font-size: x-large;
    list-style: none;
    text-align: center;
}

.comment {
    display: flex;
    margin: 0 auto;
    width: 80%;
}

#utilisateur {
    width: 25%;
}

#message {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 15px;
}

.envoyer {
    width: 310px;
    height: 50px;
    background-color: #4cd9f1;
}



h2 {
    width: 30ch;
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    animation: tapper 3s steps(35);
}

@keyframes tapper {
    from {
        width: 0ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
