* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    
}

.register {
    width: 400px;
    box-shadow: 0 0 50px 0 beige;
    margin: 100px auto;
}

.register h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    padding-top: 20px;
}

.register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: beige;
}

.register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 1rem;
    background-color: beige;
    border: 0;
    font-size: large;
}

.register form input[type="submit"]:hover {
    font-size: x-large;

}
.register a {
    width: 100%;
    padding: 15px;
    margin-top: 3px;
    background-color: beige;
    text-align: center;
    text-decoration: none;
    color: black;
} 
.register a:hover {
    font-size: x-large;
}

.login {
    width: 400px;
    box-shadow: 0 0 50px 0 beige;
    margin: 10rem auto;
}

.login h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 42px;
}

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: beige;
}

.login form input[type="number"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: beige;
    border: 0;
    font-size: large;
}

.login form input[type="submit"]:hover {
    font-size: x-large;

}
.login a {
    width: 100%;
    padding: 15px;
    margin-top: 3px;
    background-color: beige;
    text-align: center;
    text-decoration: none;
    color: black;
} 
.login a:hover {
    font-size: x-large;
}

 
body.loggedin {
    background-color: gray;
}


.navtop {
    background-color: white;
    height: 60px;
}

.navtop div {
    display: flex;
}

.navtop h1 {
    flex: 1;
    font-size: 30px;
}

.navtop div a {
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    text-decoration: none;
    color: black;
}

.navtop div a:hover {
    color: beige;
    font-size: x-large;
}

.content {
    width: 80%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 0 20px 0 beige;
    background-color: #fff;
}

.content h2 {
    width: 23ch;
    height: 7vh;
    border-bottom: 2px solid #e0e0e3;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    animation: tapper 3s steps(35);
}

.messages {
    background-color: white;
    width: 80%;
    height: 40vh;
    margin: 2rem auto;
    box-shadow: 0 0 20px 0 beige;
}

.message {
    display: flex;
    justify-content: center;
    padding: 10px;
    list-style: none;
}

.container {
    width: 80%;
    margin: 1rem auto;
    padding: 10px;
    box-shadow: 0 0 20px 0 beige;
    background-color: #fff;
}

.comment {
    width: 70%;
    height: 50px;
    padding: 0 15px;
}

.envoyer {
    width: 29%;
    height: 50px;
    background-color: beige;
}

table {
    width: 80%;
    background-color: #fff;
    margin: 2rem auto;
}

td {
    padding: 20px;
    box-shadow: 0 0 20px 0 beige;
}

@keyframes tapper {
    from {
        width: 0ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}